/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Lato:ital,wght@1,300&display=swap');

/*Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #003678;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    text-align: center;
}

i {
    color: #ffffff;
}

.linebreak {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

/* logo styling and rules styling */
#main-box-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logo {
    background-color: #40689a;
    border-radius: 20px;
    padding: 15px 0;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    box-shadow: 0 0 10px #ffffff;
}

.welcome-rules {
    display: block;
}

.cl-logo {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 h3 {
    font-family: 'Kalnia', sans-serif;
    font-size: larger;
    text-align: center;
    display: flex;
}

.rules-box {
    padding-top: 5px;
    margin: 7px;
    font-size: larger;
    width: fit-content;
}

#rules-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 15px 50px;
}

.fa-solid {
    padding: 1px 5px;
}

/* Quiz area */

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 0 50px;
}

#timer {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #003678;
    border-radius: 10px;
    letter-spacing: 1px;
    border: solid 2px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    width: 30%;
    height: 25px;
    padding: 15px;
}

.questions-class {
    margin: 0 15px;
    text-align: center;
}

.q-left-answer-correct span {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    gap: 5px;
    font-size: larger;
}

.gold {
    color: gold;
}

#questions-left {
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

#questions-left-counter {
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    padding-left: 4px;
    padding-top: 20px;
}

#questions-left-p {
    width: 12%;
    height: 50px;
    color: gold;
    font-size: 20px;
    padding-top: 20px;
}

#correct-answers {
    height: 50px;
    margin-left: 70px;
    color: #ffffff;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

#correct-answers-counter {
    width: 10%;
    height: 50px;
    color:gold;
    font-size: 20px;
    padding-top: 20px;
}

/* Button styling */
#start-quiz {
    margin: 10px auto;
}

#start-quiz-btn {
    margin-top: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #003678;
    border-radius: 10px;
    letter-spacing: 1px;
    border: solid 2px #ffffff;
    transition: 0.5s;
    box-shadow: 0 0 10px #ffffff;
}

#start-quiz-btn:hover {
    background-color: #40689a;
    box-shadow: 0 0 10px #ffffff;
}

#next-question-btn {
    padding: 10px;
    color: #ffffff;
    background-color: #003678;
    border-radius: 10px;
    letter-spacing: 1px;
    border: solid 2px #ffffff;
    transition: 0.5s;
    box-shadow: 0 0 10px #ffffff;
    margin-bottom: 10px;
}

#next-question-btn:hover {
    background-color: #40689a;
    box-shadow: 0 0 10px #ffffff;
}

.start-next-btn:hover {
    background-color: #40689a;
    box-shadow: 0 0 10px #ffffff;
}

#answer-btn-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.answer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #ffffff;
    color: #ffffff;
    border-radius: 10px;
    background-color: #003678;
    border: solid 2px #ffffff;
    transition: 0.5s;
    padding: 15px;
    width: 350px;
    max-width: 200px;
    height: 40px;
    margin-bottom: 20px;
}

.answer-button:hover {
    background-color: #40689a;
    box-shadow: 0 0 10px #ffffff;
}

.wrong-btn {
    background-color: red;
}

.correct-btn {
    background-color: green;

}


/*Social media links for CL accounts*/
#social-media {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
}

#social-list {
    display: flex;
    justify-content: center;
    gap: 85%;
    font-size: xx-large;
}

#social-list i {
    color: #ffffff;
}

#social-list li {
    list-style-type: none;
}

#social-media p {
    font-size: larger;
}

/* Media queries */
/* Smaller screens like smartphones */
@media (min-width: 300px) and (max-width: 500px) {
    .cl-logo {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 300px;
    }

    #questions-left-counter,
    #questions-left-p,
    #questions-left,
    #correct-answers,
    #correct-answers-counter {
        font-size: medium;
    }

    .answer-button {
        width: 200px;
    }
}